body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.882);
    color: white; 
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-photo {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 1.5vw;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(52, 52, 52, 0.362);
    padding: 15px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.647);
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 150px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 20px;
    font-size: 1vw;
}

.nav-menu a:hover {
    color: rgba(255, 255, 255, 0.71);
}

.content-section {
    padding: 40px;
    text-align: center;
    color: white;
}

 
.product-grid {
    display: flex;         
    flex-wrap: wrap;       
    justify-content: space-between;  
    padding: 20px;
}

.product-item {
    width: 23%;          
    margin-bottom: 20px;   
    text-align: center;
    background-color: #272727;
    padding: 10px;
    border-radius: 10px;
}

.product-item img {
    width: 100%;
    height: 150px;       
    object-fit: cover;     
    border-radius: 10px;
}


.product-item button {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(68, 68, 68);
    color: white;
    cursor: pointer;
}

footer {
    background-color: #11111143;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.footer-form input, textarea {
    width: 80%;
    margin: 5px 0;
    background-color: rgb(158, 158, 158);
    color: rgb(3, 3, 3);
}

.footer-form button {
    margin-top: 10px;
    background-color: rgba(102, 102, 102, 0.367);
    color: white;
}

footer p{
    font-size: 12px;
}
